.DS_Store
imgs/.DS_Store
/Deliverable 3/GeometricalOpticsSimulation/build/resources/main/images/angle.png
/Deliverable 3/GeometricalOpticsSimulation/build/resources/main/images/64/Asperand-Sign.png
/Deliverable 3/GeometricalOpticsSimulation/build/resources/main/images/64Shadow/Asperand-Sign.png
/Deliverable 3/GeometricalOpticsSimulation/build/resources/main/images/64/Backward.png
/Deliverable 3/GeometricalOpticsSimulation/build/resources/main/images/64Shadow/Backward.png
/Deliverable 3/GeometricalOpticsSimulation/build/resources/main/images/64/Bag.png
/Deliverable 3/GeometricalOpticsSimulation/build/resources/main/images/64Shadow/Bag.png
/Deliverable 3/GeometricalOpticsSimulation/src/main/resources/images/64Shadow/
/Deliverable 3/GeometricalOpticsSimulation/src/main/resources/images/64/
